.Github-installer {
  position: relative;
  width: 100%;
  height: 100%%;
  overflow: auto;

  .wrapper {
    position: relative;

    .container {
      width: 600px;
      margin: 0 auto;
      padding: 50px 0 20px 0;
      overflow: visible;

      .progress-container {
        position: relative;
        width: 100%;

        .title {
          padding: 10px 10px 10px 0;
          border-bottom: solid 2px darken(#ededed, 10%);
        }

        .bar {
          position: absolute;
          width: 0%;
          height: 2px;
          bottom: 0;
          left: 0;
          background: #1AAF5D;
          .transition(all)
        }

        .spinner {
          position: absolute;
          top: 8px;
          right: 0;
        }
      }

      .toggle-button {
        position: absolute;
        top: 253px;
        left: 703px;
        z-index: 4;
        height: 28px;
        width: 100px;

        & > .button-title {
          font-size: 12px;
        }
      }

      .logo {
        width: 200px;
        left: 50%;
        position: relative;
        margin-left: -110px;
        margin-top: 20px;
      }

      .button-container {
        text-align: center;

        .button {
          margin: 15px;
          height: 45px;

          & span {
            line-height: normal;
          }
        }
      }

      .description {
        color: #333;
        font-size: 16px;
        line-height: 1.7em;
        color: #555;
        margin-top: 30px;

        p {
          padding: 10px 0;
        }

        a {
          text-decoration: underline;
          color: black;
        }

        b, .bold {
          text-decoration: none;
          font-weight: bold;
        }

        .center {
          text-align: center;
        }

        img {
          width: 100%;
          .border-radius(3px);
        }
      }

      .running-link {
        text-align: center;
        padding: 12px 0;
        background: #eee;
        margin-bottom: 15px;
        line-height: 22px;

        strong {
          font-weight: bold;
        }

        a {
          text-decoration: none;
          color: blue;
          text-shadow: none;
        }
      }

      .picture {
        width: 800px;
      }
    }
  }
}
